.debug {
    border: 1px red solid;
}
.container {
    padding: var(--normal);
}
.flex {
    display: flex;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-grid {
    display: grid;
    place-items: center;
}

// Media querys globals

@media screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        padding: var(--small);
    }
}
@media screen and (max-width: 600px) {
    .container {
        padding: 0;
    }
}