
  /* Imports */

  @font-face {
    font-family: 'CascadiaCode';
    font-display: swap;
    src: local('CascadiaCode'), url(../fonts/CascadiaCode.woff2) format('truetype');
  }
  

/* Normalize */
#app {
    min-height: 100vh;
  }
  *:not(p) {
    margin: 0;
    padding: 0;
  }
  *[title]{
    color: red;
    }
    img:not(img[alt]){
    border: 3px solid red 
    }
  html,
  body {
    overflow: hidden;
    font-family: CascadiaCode;
    background-color: var(--black); 
    color: var(--black); 
  }

  /* Variables */

:root{
    /* medidas */
    --small : 0.5rem;
    --normal : 1rem;
    --medium : 1.5rem;
    --large : 2rem;
    --extralarge : 3rem;
    
    --radiusinput : 10px;
    --radiusbutton : 5px;
    --radiuslayout : 2rem;
    

    /* Colors */
    --white: #F7F7F7;
    --gray: #e0e0e0;
    --darkgray: #bbcbd6;
    --black: #333;
    --lightblue: #d2e2ed;
    --blue:#4568DC;
    --error:#db5656;

    //los breakpoints no funcionan como variables

}


/* Utils */

.debug {
  border: 1px red solid;
}
.container{
  padding: var(--normal);
  @media screen and (min-width: 600px) and (max-width: 900px) {
    padding: var(--small);
  }
  @media screen and (max-width: 600px) {
    padding: 0;
  }
}
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-grid{
  display: grid;
  place-items: center;
}
